[submodule ".vim/bundle/ctrlp.vim.git"]
	path = .vim/bundle/ctrlp.vim.git
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
